body{
    width: 100%;
    margin: auto;
}
.main{
    width: 100%;
}
.contents{
    width: 100%;
    height: 100vh;
    background-color: rgba(203, 203, 203, 0.694);
    margin-top: 0;
    border: none;
}

    .dash{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .count{
        display: flex;
        justify-content: center;
        text-align: center;
         margin-top: -5%;
    }
    .cnt{
        margin: 5%;
        margin-top: -2%;
    }
    .d-box{
        width: 25%;
        height: 30vh;
        background-color: rgba(244, 244, 244, 0.144);
        border-radius: 20px;
        text-align: center;
        color: black;
        margin: 1%;
        box-shadow: inset 0px 0px 10px 10px rgb(209, 209, 209);
        backdrop-filter: blur(0px);
    }
        .d-box1{
        width: 45%;
        height: 30vh;
        background-color: rgba(244, 244, 244, 0.316);
        border-radius: 20px;
        text-align: center;
        color: black;
        margin: 1%;
        box-shadow: inset 0px 0px 10px 10px white;
        backdrop-filter: blur(20px);
    }
.container{
    width: 100%;
    display: flex;
}
.left{
    width: 20%;
    height: 100vh;
    background-color: red;
}
.right{
    width: 80%;
    overflow-y: scroll;
     background-image: url(Picture3.png);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     backdrop-filter: blur(20px);
     -webkit-backdrop-filter: blur(20px);
}
ul{
padding: 0;
}
.students{
    position: relative;
    display: none;
}
li{
    height: 30px;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    list-style: none;
    text-align: center;
    margin: none;
    margin-bottom: 5%;
    color:white;
    
}
table {
            width: 90%;
            border-collapse: collapse;
            margin-top: 15px;
            text-transform: uppercase;
            
        }
        table, th, td {
            border: 1px solid #ddd;
            font-size: 10px;
        }
        th {
            background: #2c3e50;
            color: #fff;
            padding: 10px;
            text-align: left;
        }
        td {
            padding: 8px;
            font-size: 14px;
        }
        tr:nth-child(even) {
            background: #f9f9f9;
        }
        tr:hover {
            background: #f1f1f1;
        }
.actionbtns{
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
